body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  margin-top: 50px;
}

.profile {
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icon {
  font-size: 24px;
  color: #007bff;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0056b3;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #0056b3;
}

.background {
  position: fixed; /* Ensure it stays fixed in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Push it behind all other elements */
  overflow: hidden;
}

.svg-block {
  position: absolute;
  /* top: 0;
  left: 0; */
  transform-origin: center;
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  background-size: 100% 100%; /* Ensure gradient spans the entire rectangle */
  opacity: 1;
  animation: moveBlocks 20s ease-in-out infinite;
  mix-blend-mode: normal;
}

@keyframes moveBlocks {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0, 0) rotate(-5deg);
  }
  50% {
    transform: translate(calc(var(--translate-factor) * 0.15), calc(var(--translate-factor) * 0.15)) rotate(180deg);
  }
  /* 75% {
    transform: translate(calc(var(--translate-factor) * 0.2), calc(var(--translate-factor) * 0.2)) rotate(270deg);
  } */
  90% {
    transform: translate(calc(var(--translate-factor) * 0.2), calc(var(--translate-factor) * 0.2)) rotate(365deg);
  }
}